$black: #232323;
$background: #e3b586;
$light-gray-line: #f6f6f6;
$medium-gray-line: #dfdfdf;
$dark-gray-line: #a1a1a1;
$base: #308b40;
$light-font: #ebebeb;
$light-items-bg: #eeeeee;

$container-width: 90%;

$duration: 0.15s;
