$black: #232323;
// $background: #ffdf8c;
$background: #65593b;
$light-gray-line: #f6f6f6;
$medium-gray-line: #dfdfdf;
$dark-gray-line: #a1a1a1;
$orange: #fe5f1e;
$light-font: #ebebeb;
$light-items-bg:#eeeeee;

$container-width: 90%;

$duration: 0.15s;
