@import 'fonts';
@import 'variables';
@import 'libs/normalize';

@import 'components/all';

body {
  background-color: $background;
  padding: 15px 0;
  @media (max-width: 768px) {
    padding: 5px 0;
  }
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #adbba7;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1400px;
  @media (max-width: 768px) {
    width: calc(100vw - 30px);
  }
}

.content {
  padding: 40px 0;

  &__error-container {
    margin: 70px 0;
  }
  &__error-title {
    font-weight: 700;
    line-height: 1.21;
    font-size: 28px;
    text-align: center;
    margin-bottom: 15px;
  }
  &__error-description {
    font-weight: 400;
    line-height: 1.21;
    font-size: 18px;
    text-align: center;
  }

  &__title {
    margin: 35px 0;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    justify-content: center;
    gap: 60px 40px;
    margin-bottom: 30px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1920px) {
      flex-direction: column;
      gap: 20px 0;
    }
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  &--cart {
    max-width: 820px;
    margin: 0 auto;
    .content__title {
      margin: 0;
    }
  }
}

.cart {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 500px) {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  .content__title {
    display: flex;
    align-items: center;
    font-size: 32px;

    @media (max-width: 500px) {
      font-size: 25px;
    }

    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      path {
        stroke: $black;
        stroke-width: 1.9;
      }
    }
  }

  &__clear {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include noselect();

    span {
      display: inline-block;
      margin-left: 7px;
      color: $light-font;
      font-size: 18px;
    }

    span,
    svg,
    path {
      transition: all $duration ease-in-out;
    }

    svg {
      path {
        stroke: $light-font;
      }
    }

    &:hover {
      svg {
        path {
          stroke: darken($color: #b6b6b6, $amount: 50);
        }
      }
      span {
        color: darken($color: #b6b6b6, $amount: 50);
      }
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 80px 1fr 100px 100px 32px;
    grid-auto-flow: column;
    column-gap: 25px;
    width: 100%;
    border-top: 1px solid $light-gray-line;
    padding-top: 30px;
    margin-top: 30px;

    @media (max-width: 768px) {
      column-gap: 0;
      grid-template-columns: 80px 1fr 100px 100px 32px;
    }

    @media (max-width: 600px) {
      column-gap: 0;
      grid-template-columns: 80px 1fr 100px 50px;
      grid-template-rows: repeat(2, auto);
      grid-auto-flow: row;
    }

    @media (max-width: 500px) {
      grid-template-columns: 100px 1fr 70px;
      grid-template-rows: repeat(2, auto);
      row-gap: 15px;
    }

    @media (max-width: 380px) {
      grid-template-columns: 80px 1fr 32px;
      row-gap: 10px;
      column-gap: 10px;
    }

    &-img {
      display: flex;
      align-items: center;

      @media (max-width: 500px) {
        grid-row: 1/3;
      }

      @media (max-width: 380px) {
        grid-row: 1/2;
        justify-self: center;
      }

      img {
        width: 80px;
        height: 80px;
      }
    }

    &-info {
      padding-left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: 500px) {
        padding-left: 0;
      }

      h3 {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.01em;

        @media (max-width: 500px) {
          font-size: 18px;
        }
      }

      p {
        font-size: 18px;
        color: $light-font;

        @media (max-width: 500px) {
          font-size: 16px;
        }
      }
    }

    &-count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100px;

      @media (max-width: 600px) {
        grid-row: 1/2;
        grid-column: 3/4;
        align-self: flex-start;
      }

      @media (max-width: 500px) {
        grid-row: 2/3;
        grid-column: 2/3;
      }

      &-minus {
        svg {
          path:first-of-type {
            display: none;
          }
        }
      }

      b {
        font-size: 22px;

        @media (max-width: 500px) {
          font-size: 18px;
        }
      }
    }

    &-price {
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 600px) {
        grid-row: 1/2;
        grid-column: 3/4;
        align-self: flex-end;
        justify-self: center;
      }

      @media (max-width: 500px) {
        grid-row: 2/3;
        grid-column: 3/4;
        justify-self: end;
      }

      @media (max-width: 380px) {
        grid-column: 1/2;
        justify-self: center;
        align-self: top;
      }

      b {
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.01em;

        @media (max-width: 500px) {
          font-size: 18px;
        }
      }
    }

    &-remove {
      display: flex;
      align-items: center;
      justify-self: end;

      .button {
        border-color: darken($color: $light-gray-line, $amount: 10);
      }

      svg {
        transform: rotate(45deg);

        path {
          fill: darken($color: $light-gray-line, $amount: 15);
        }
      }

      .button {
        svg {
          width: 11.5px;
          height: 11.5px;
          position: relative;
        }
        &:hover,
        &:active {
          border-color: darken($color: $light-gray-line, $amount: 80);
          background-color: darken($color: $light-gray-line, $amount: 80);
        }
      }
    }
  }

  &__bottom {
    margin: 50px 0;

    &-details {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 600px) {
        flex-direction: column;
        row-gap: 7px;
      }

      span {
        font-size: 22px;

        &:last-of-type {
          b {
            color: $base;
          }
        }
      }
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      .go-back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;
        border-color: darken($color: $light-gray-line, $amount: 10);

        @media (max-width: 600px) {
          width: 140px;
        }

        span {
          color: $black;
          font-weight: 500;
          font-weight: 600;
        }

        &:hover {
          background-color: darken($color: $light-gray-line, $amount: 90);
          border-color: darken($color: $light-gray-line, $amount: 90);

          span {
            color: $light-gray-line;
          }
        }

        svg {
          margin-right: 12px;
          path {
            fill: transparent;
            stroke-width: 2;
          }
        }
      }

      .pay-btn {
        font-size: 16px;
        font-weight: 600;
        width: 210px;
        padding: 16px;

        span {
          color: $light-font;
        }

        @media (max-width: 600px) {
          width: 140px;
        }
      }
    }
  }

  &--empty {
    margin: 80px auto;
    width: 620px;
    text-align: center;

    h2 {
      font-weight: 700;
      font-size: 36px;
      margin-bottom: 15px;
    }

    p {
      font-size: 20px;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: $light-font;
    }

    icon {
      position: relative;
      top: 2px;
    }

    img {
      display: block;
      width: 300px;
      margin: 45px auto 60px;
    }

    .button--black {
      padding: 12px 0 14px;
      width: 230px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;

      span {
        color: $light-font;
      }
    }
  }
}
